<%- include('./template/header'); %>
<div style="margin-top: 10rem">
  <!-- <h1>Task Count Chart</h1> -->
  <canvas id="myChart" style="margin-right: 10rem"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script>
  const jsonData = '<%- data.replace(/'/g, "U+0026") %>'
  const data = JSON.parse(jsonData);

  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'bar', // Change to 'line' if you want a line chart
    data: data,
    options: {
      scales: {
        x: {
          type: 'time',
          time: {
            unit: 'month'
          },
          adapters: {
            date: {
              // This is where you can set specific options for date-fns if needed
            }
          }
        },
        y: {
          beginAtZero: true
        }
      },
      plugins:{
        title: {
      display: true,
      text: 'Task Count Chart',
      align: 'center',
      font: {
        size: 24
      }
      }
      }
    }
  });
</script>
<%- include('./template/footer'); %>
