<%- include('./template/header'); %>

<div class="page-wrapper">
  <div class="page-content">
    <h1>Welcome to the Home Page</h1>
    <!-- Add other content specific to the Home page -->
    <p>I am <%= username; %></p>
  </div>
</div>

<%- include('./template/footer'); %>
