<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iKuRjwLl7T9l7wwmRpgQOK9vj6WHAeLU5UZBhK8pYYH1yL2QvQ1dXPOm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/stylesheet20.css" />
    <title>Landing Page</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-betwee">
        <div class="container-fluid n">
            <img
            src="../views/assets/images/icons/logo.png"
            alt="Illustration"
            class="img-fluid"
          />
        </div>
      </nav>
    </header>

    <section class="main-content">
      <div class="left-content">
        <h1>The future of Daily Report is here</h1>
        <p>We help build and manage vendor management processes</p>
      </div>
      <div class="right-content">
        <img
          src="../views/assets/images/6206973.jpg"
          alt="Illustration"
          class="img-fluid"
        />
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-eZvL4IEXe5KOp8r+Oq0CYVmUlfK24P98F5f5r5uPAAu7h++1d5T5gE63ut5q1aC"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
