<%- include('./template/header'); %>

<section class="main-content">
  <div class="left-content">
    <h1>The future of Daily Report is here</h1>
    <p>We help build and manage vendor management processes</p>
  </div>
  <div class="right-content">
    <img src="assets/images/6206973.jpg" alt="Illustration" class="img-fluid" style="width: 100%;" />
  </div>
</section>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-eZvL4IEXe5KOp8r+Oq0CYVmUlfK24P98F5f5r5uPAAu7h++1d5T5gE63ut5q1aC"
  crossorigin="anonymous"
></script>

<%- include('./template/footer'); %>
